body {
    font-family: Arial;
    margin: 1em auto;
    overflow: hidden;
    width: 100%;
}

.hidden {
    display: none;
}

#version {
    font-size: 0.75em;
    position: absolute;
    right: 1em;
    top: 0.5em;
}

.illusion {
    text-align: center;
}

.board {
    border: 1px solid black;
    display: none;
    margin: 0.5em auto;
    padding: 1px;
    position: relative;
}

.board .win {
    border-style: solid;
    border-width: 3px;
    display: none;
    font-family: Palatino;
    font-size: 1.7em;
    font-style: italic;
    height: 2.3em;
    left: 50%;
    margin-left: -2.5em;
    margin-top: -1.15em;
    padding: 0.1em 0 0 0;
    position: absolute;
    top: 50%;
    width: 5em;
}

body.ocean,body.ocean .board {
    background-color: #00E7FF;
}

body.ocean .board .win {
    background-color: #00E7FF;
    border-color: #FFFFFF #0000FF #0000FF #FFFFFF;
    color: #0000FF;
}

body.desert,boy.desert .board {
    background-color: #F7BA8A;
}

body.desert .board .win {
    background-color: #F7BA8A;
    border-color: #FFFFFF #926138 #926138 #FFFFFF;
    color: #926138;
}

body.mountain,body.mountain .board {
    background-color: #D3E3FF;
    border-color: #FFFFFF;
}

body.mountain .board .win {
    background-color: #D3E3FF;
    border-color: #FFFFFF #616DA6 #616DA6 #FFFFFF;
    color: #616DA6;
}

body.sky,body.sky .board {
    background-color: #82FFFF;
}

body.sky .board .win {
    background-color: #82FFFF;
    border-color: #FFFFFF #00A2FF #00A2FF #FFFFFF;
    color: #00A2FF;
}

.title {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: white;
    border: 2px solid #555;
    border-top: 0;
    border-radius: 10px;
    height: 3em;
    left: 1em;
    overflow: hidden;
    position: absolute;
    top: -0.5em;
    transition-property: height, width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    width: 10em;
    z-index: 2;
}

.menu h1 {
    background: linear-gradient(#555, #222) no-repeat;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    margin: 0;
    padding: 0.75em 30px 0.5em;
}

.menu h1:hover {
    background: linear-gradient(#222, #555) no-repeat;
}

.menu .arrow {
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    cursor: pointer;
    height: 0;
    right: 0.8em;
    position: absolute;
    top: 1.5em;
    width: 0;
}

.menu .levels {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0.8em 0.8em 0.4em 1em;
    text-align: left;
}

.menu .levels li {
    cursor: pointer;
    font-size: 0.9em;
    padding-bottom: 0.2em;
}

.menu .levels li.type {
    cursor: default;
    font-size: 1.2em;
    padding-bottom: 0.2em;
}

.menu .levels li:hover {
    color: #4c9335;
}

.menu .levels li.type:hover {
    color: #222;
}

.menu.show {
    height: 23em;
    width: 40em;
}

.menu.show h1 {
    border-bottom-right-radius: 0;
}

.menu.show .arrow {
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}