.menu {
    background-color: white;
    border: 2px solid #555;
    border-top: 0;
    border-radius: 10px;
    height: 3em;
    left: 1em;
    overflow: hidden;
    position: absolute;
    top: -0.5em;
    transition-property: height, width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    width: 10em;
    z-index: 2;
}

.menu h1 {
    background: linear-gradient(#555, #222) no-repeat;
    color: white;
    cursor: pointer;
    font-size: 1.4em;
    margin: 0;
    padding: 0.75em 30px 0.5em;
}

.menu h1:hover {
    background: linear-gradient(#222, #555) no-repeat;
}

.menu .arrow {
    border-top: 10px solid white;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    cursor: pointer;
    height: 0;
    right: 0.8em;
    position: absolute;
    top: 1.5em;
    width: 0;
}

.menu .levels {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0.8em 1% 0.4em;
    text-align: left;
    width: 23%;
}

.menu .levels li {
    cursor: pointer;
    font-size: 0.9em;
    padding-bottom: 0.2em;
}

.menu .levels li.type {
    cursor: default;
    font-size: 1.2em;
    padding-bottom: 0.2em;
}

.menu .levels li:hover {
    color: #AC1919;
}

.menu.show {
    height: 23em;
    width: 93%;
}

.menu.show h1 {
    border-bottom-right-radius: 0;
}

.menu.show .arrow {
    border-top: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.menu .ocean li.type {
    color: #008EFF;
}

.menu .desert li.type {
    color: #926138;
}

.menu .mountain li.type {
    color: #A6B6F7;
}

.menu .sky li.type {
    color: #1CD3FF;
}